page-home {
    .add{
        margin-left: 80%;
        margin-top: 10%;

    }
    #fieldset{
    border:2px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;	
    border-radius:8px;	
}
#legend1
{
  margin-bottom:0px;
  margin-left:16px;
}
ion-content {
    background-color: wheat !important;

}
ion-label{
    background-color: wheat !important;

}
ion-input{
    background-color: wheat !important;

}ion-item{
    background-color: wheat !important;

}


}
